{% extends 'templates/base/layout_subpages.html' %}

{% block content %}
    <!-- introduction -->
    <div class="overflow-hidden position-relative ">
        <div class=""> 
            <img class="leftt " src="/assets/franchise_design/fd_assets/shapes-1.svg" alt="">
        </div>

        <!--begin::Card-->
        <div class="card overlay overlay-block w-100 overflow-hidden rounded-0 z-index-n1">
            <div class="card-body p-0">
                <div class="overlay-wrapper bg-custom-blue" style="min-height: 700px;">
                </div>
                <div class="overlay-layer rounded-0 bg-custom bg-opacity-25 flex-column " >
                    <div class="container">
                        <div class="row" >
                            <div class="col-md-6 col-12 d-flex justify-content-center align-items-left flex-column" data-aos-delay="100" data-aos="fade-down">
                                <div class="w-100">
                                    <h1 class="text-white display-6">
                                        
                                        Be a spacecraft engineer, design battle robots and more at RoboThink!
                                    </h1>

                                </div>

                                <div>
                                    <button class=" button bg-blue text-uppercase">Find out more</button>
                                </div>
                                
                            </div>


                            <div class="col-md-6 col-12 mob-noshow">

                                <div id="kt_carousel_1_carousel" class="carousel carousel-custom slide" data-bs-ride="carousel" data-bs-interval="8000">
                                    <div class="carousel-inner" style="height: 500px">
                                        <div class="carousel-item active">
                                            <div class="w-100 h-100 position-relative" data-aos-delay="100" data-aos="fade-left">
                                                <img src="/assets/franchise_design/fd_assets/img/shapes-online-background.png" class=" position-absolute top-0 w-100" alt="">
                                                <img src="/assets/franchise_design/fd_assets/img/Around-the-World-768x941.png"  class="position-absolute top-0 start-0 w-md-75 w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="w-100 h-100 position-relative" data-aos-delay="100" data-aos="fade-left">
                                                <img src="/assets/franchise_design/fd_assets/img/shapes-online-background.png" class=" position-absolute top-0 w-100" alt="">
                                                <img src="/assets/franchise_design/fd_assets/img/Around-the-World-768x941.png"  class="position-absolute top-0 start-0 w-md-75 w-100" alt="">
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="w-100 h-100 position-relative" data-aos-delay="100" data-aos="fade-left">
                                                <img src="/assets/franchise_design/fd_assets/img/shapes-online-background.png" class=" position-absolute top-0 w-100" alt="">
                                                <img src="/assets/franchise_design/fd_assets/img/Around-the-World-768x941.png"  class="position-absolute top-0 start-0 w-md-75 w-100" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--end::Card-->
    </div>  


    <div class="container my-7 overflow-hidden">
        <div class="row" style="min-height: 500px !important;">
            <div class="col-md-5 order-2 order-md-1 d-flex align-items-center justify-content-center">
                <div class="p-4 mb-5 " >
                    <img src="/assets/franchise_design/fd_assets/img/Chan-3.png" class=" w-md-100 w-100" alt="airplane project">
                </div>
            </div>
            <div class="col-md-7 order-1 order-md-2 my-5">
                <div class="h-100 d-flex justify-content-center flex-column position-relative" data-aos-delay="100" data-aos="fade-left">
                    <img class="position-absolute bottom-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                    
                    
                    <p class="font-lg text-brown-black " >
                        RoboThink’s amazing E-STEAM theme camps are designed by 
                        real industry experts and entrepreneurs. 
                        RoboThink’s exclusive E-STEAM programs make STEM learning fun!
                    </p>

                    <div class="w-100 d-flex justify-content-end align-items-end">
                      
                        <button class="button text-uppercase">Find out more</button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>


            <!-- ======= Enroll Section ======= -->
            <section class="position-relative d-flex justify-content-center align-items-center flex-column bg-yellow" style="height: 200px">
                <h2 class="text-brown-black font-xl-h1 bg-custom">How does it work?</h2>
            </section><!-- ======= Enroll Section ======= -->


    <div class="container my-7 overflow-hidden">
        <div class="row" style="min-height: 500px !important;">
            <div class="col-md-5 order-2 order-md-1 d-flex align-items-center justify-content-center">
                <div class="p-4 mb-5 " >
                    <img src="/assets/franchise_design/fd_assets/img/1-min.png" class=" w-md-100 w-100" alt="airplane project">
                </div>
            </div>
            <div class="col-md-7 order-1 order-md-2 my-5">
                <div class="h-100 d-flex justify-content-center flex-column position-relative" data-aos-delay="100" data-aos="fade-left">
                    <img class="position-absolute bottom-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                    
                    
                    <p class="font-lg text-brown-black " >
                        STEM literacy is becoming more important day by day in today’s fast changing world. 
                        RoboThink sparks interest for STEM in children through our immersive themed programs, 
                        where students can become amusement park engineers, aerospace engineers, 
                        battle bot designers, self driving car designers, and much more.
                    </p>


                </div>
            </div>
        </div>

        
    </div>


    <div class="container">
        <div class="row" style="min-height: 500px  !important;">
            <div class="col-md-5 order-md-2">
                <div class="d-flex align-items-center justify-content-center h-100 ">
                    <img src="/assets/franchise_design/fd_assets/img/2-min.png" class=" img-fluid rounded-circle" alt="airplane project">
                </div>
            </div>
            <div class="col-md-7 order-md-1">
                <div class="h-100 d-flex justify-content-center flex-column">
                    <h2 class="blue font-xl-h2">Students gain E-STEAM fluency while developing</h2>
                    <p class="font-lg text-brown-black ">                             
                        Critical Thinking
                    </p>
                    <p class="font-lg text-brown-black ">                             
                        Spatial Awareness.
                    </p>
                    <p class="font-lg text-brown-black ">                             
                        Problem Solving.
                    </p>
                    <p class="font-lg text-brown-black ">                             
                        Logical Thinking.
                    </p>
                    <p class="font-lg text-brown-black ">                             
                        Entrepreneurial Skills.
                    </p>

                    <div class="w-100 d-flex justify-content-center align-items-center">
                      
                        <button class="button text-uppercase">book a camp</button>
                    </div>
                </div>
            </div>


        </div>

        
    </div>

    <!-- ======= Enroll Section ======= -->
    <section class="position-relative d-flex justify-content-center align-items-center flex-column bg-deep-ash" style="min-height: 300px">
        <img class="position-absolute end-0 img-fluid w-25" src="/assets/franchise_design/fd_assets/image13-1.png" alt="">
        <h2 class="text-brown-black font-xl-h1 text-center">Enroll today and see the RoboThink Difference</h2>
        <button class=" button">Find RoboThink</button>
    </section><!-- ======= Enroll Section ======= -->



    <!-- programs -->
    <div class="container-fluid M-0 p-0">

        <!--begin::Card-->
        <div class="card overlay  w-100 overflow-hidden rounded-0 position-relative h-100 " >
            <div class=" overlay-content bg-dark-blue d-flex align-items-center justify-content-center flex-column  card-body p-0"  >
                
                    <div class="rounded-0 bg-opacity-25 h-100 z-index-1   " >
                        <div class="container">
                            <div class="d-flex align-items-center justify-content-center" style="min-height: 500px !important;">

                                <div class="   flex-column d-flex align-items-center justify-content-center w-100 w-md-75  h-100 text-center text-white">
                                    <h2 class=" font-xl-h2 text-white mb-4">E-STEAM HOLIDAY CAMPS</h2>
                                    <p class="font-lg  mb-4">
                                        RoboThink is a global E-STEAM education provider offering fun and educational robotics, coding,
                                         engineering, art, and entrepreneurial programs to thousands of
                                          students in 20+ different countries around the world.
                                    </p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-4 col-12">
                                                <img src="/assets/franchise_design/fd_assets/img/image71.png" alt="" class="img-fluid w-50">
                                                <p class="mt-4 text-white fs-1">Expedition to Mars​</p>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <img src="/assets/franchise_design/fd_assets/img/video-game-design.png" alt="" class="img-fluid w-50">
                                                <p class="mt-4 text-white fs-1">Video Game Design​</p>
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <img src="/assets/franchise_design/fd_assets/img/video-game-design.png" alt="" class="img-fluid w-50">
                                                <p class="mt-4 text-white fs-1">Self Driving Cars</p>
                                            </div>
    
                                        </div>
                                    </div>
        
                                </div>

                            </div>
                        </div>

                    </div>
                

            </div>

            <div class=" w-100 opacity-25 position-absolute top-0 h-100 " style="background-image: url('assets/pattern.svg');
                background-position: center center; background-size: 200px auto; ">
            </div>
        </div>
        
                        
    </div>
    <!--end::programs-->



{% endblock %}