{% extends 'templates/base/layout.html' %}


{% block content %}
        <!--begin::Wrapper-->
        <div class="container-fluid d-flex flex-column flex-row-fluid mt-14 p-0" style="overflow-x: hidden !important;">
            <!--begin::row-->

                <div class="row" >
                    <div class="col-md-4 py-5 px-10">
                        <h4 class="pink fs-1">Find a Location</h4>
                        <div class="d-flex py-5" style="height: 80px">
                            <form action="" method="get">
                                <input type="text" class="w-75 p-5 searchBar" placeholder="Enter City or Zip ">
                                <button type="submit" class="m-0 p-1 fs-4 bg-pink text-white w-25 search-button">Search</button>
                            </form>
                            
                        </div>
                        <div class="mapLists">
                            <div class="maplist p-5" id="location" data-lng="-0.38674" data-lat="51.59163" data-name="Barnet"
                            data-phone="07883 268200" data-link="/barnet" data-address="Belmont Mill Hill Preparatory School, The Ridgeway, 
                            Village, London NW7 4ED"
                            >
                                <p class="location fs-2">
                                    Barnet
                                </p>
                                <div class="d-flex align-items-center">
                                    <i class="fa fa-external-link pink mr-4"></i>
                                    <a href="">Go to the franchise page</a>
                                </div>

                                <div class="d-flex">
                                    <i class="fa fa-phone pink mr-4"></i>
                                    <a href="">07883 268200</a>
                                </div>

                                <div class="d-flex">
                                    <i class="fa fa-map-marker pink mr-4"></i>
                                    <a href="">
                                        Belmont Mill Hill Preparatory School, The Ridgeway, 
                                        Village, London NW7 4ED
                                    </a>
                                </div>
                            </div>
                            <div class="maplist p-5" id="location" data-lng="-0.30208" data-lat="51.57959">
                                <p class="location fs-2">
                                    Barnet
                                </p>
                                <div class="d-flex align-items-start">
                                    <i class="fa fa-external-link pink mr-4"></i>
                                    <a href="" >Go to the franchise page</a>
                                </div>

                                <div class="d-flex align-items-start">
                                    <i class="fa fa-phone pink "></i>
                                    <a href="">07883 268200</a>
                                </div>

                                <div class="d-flex align-items-start">
                                    <i class="fa fa-map-marker pink "></i>
                                    <a href="" >
                                        Belmont Mill Hill Preparatory School, The Ridgeway, 
                                        Village, London NW7 4ED
                                    </a>
                                </div>
                            </div>
                            <div class="maplist p-5" id="location" data-lng="-0.31235" data-lat="51.61708">
                                <p class="location fs-2">
                                    Barnet
                                </p>
                                <div class="d-flex py-1">
                                    <i class="fa fa-external-link pink mr-4 icon-location"></i>
                                    <a href="" class="ml-auto fs-6">Go to the franchise page</a>
                                </div>

                                <div class="d-flex py-1">
                                    <i class="fa fa-phone pink icon-location"></i>
                                    <a href="" class="ml-auto fs-6">07883 268200</a>
                                </div>

                                <div class="d-flex py-1">
                                    <i class="fa fa-map-marker pink icon-location"></i>
                                    <p class="ml-auto fs-6">
                                        Belmont Mill Hill Preparatory School, The Ridgeway, 
                                        Village, London NW7 4ED
                                    </p>
                                </div>
                            </div>
                            <div class="maplist">
                                map4
                            </div>
                        </div>
                    </div>
                    <!--begin::map-->
                    <div class="col-md-8 position-relative h-100">
                        <div class="position-absolute top-10 z-index-1">
                            <button class="m-0 p-3 fs-4 bg-pink text-white border-0">United Kingdom</button>
                            <button class="m-0 p-3 fs-4 bg-white fs-pink border-pink ">International</button>
                        </div>
                        
                        <div id="map"></div>
                    </div>
                    <!--end::map-->
                </div>

             <!--end::row-->
        </div>
        <!--end::Wrapper-->
{% endblock %}

{% block footer %}
    {{ super() }}
    
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNBpyDh37cPg4CTXRlHK8yXeRvKgezT_c&callback=initMap"
      defer
    ></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <!-- <script>
        const locations = {{coordinates | tojson}};
    </script> -->
    <script src="/assets/franchise_design/fd_assets/js/map/map.js"></script>
{% endblock %}