{% extends 'templates/base/layout.html' %}

{% block content %}


    <!-- introduction -->
    <div class=" overflow-hidden position-relative ">


        <!--begin::Card-->
        <div class="card overlay overlay-block w-100 overflow-hidden rounded-0 z-index-n1">
            
            <div class="card-body p-0">
                <div class="overlay-wrapper " style="background-image: url('/assets/franchise_design/fd_assets/Class-Working.jpg');  background-size: cover; height: 85vh;">
                </div>
                <div class="overlay-layer bg-color p-2 rounded-0 flex-column text-center">
                    <p class="text-white font-wrapper w-100 w-md-50 "><strong class="display-4">Welcome to RoboThink Stanmore!</strong>
                    <div class="  d-flex align-items-center justify-content-center">
                        <p class="text-center text-white w-100 w-md-75 font-lg">
                            Build your favorite robots, learn code and play with friends! RoboThink is a leading STEM, coding, 
                            robotics and engineering program nurturing geniuses across 11 countries to thousands of students each day.
                        </p>
                    </div>

                    <div>
                        <button class=" button">07723 190333</button>
                        <button class="button">Register Here</button>
                    </div>

                </div>
            </div>
        </div>
        <!--end::Card-->
    </div>
    <!-- counter -->
    <div class="container-fluid M-0 p-0">
        <!--begin::Card-->
        <div class="card rounded-0 w-100 bg-pink "  >
            <div class="card-body p-0 position-relative ">
                <div class="overlay-wrapper w-100 opacity-25" style="background-image: url('assets/pattern.svg');
                    background-position: center center; background-size: 200px auto; height: 70px; ">
                    
                    
                </div>
                <div class="position-absolute top-0 d-flex justify-content-center align-items-center w-100 h-100 text-center">
                    <p class="text-white fs-1">Join <span id="counter"> </span>+ kids around the world</p>
                </div>
                
            </div>
        </div>
        <!--end::Card-->
                        
    </div>
    <!--end:: counter -->


    <div class="container my-5 py-10">
        <div class="row" style="min-height: 500px;">
            <div class="col-md-6 col-12 d-flex  position-relative">
                <img class="position-absolute top-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                
                <div class="font-lg text-brown-black " data-aos="zoom-in">
                    <h1 class="display-5 text-uppercase"> build your favourite robots, learn code and play with friends!</h1>
                    <p>
                        We believe that software can be excellent tool to introduce students to the world of computer programming.
                        Our software engineers breakdown and simplify coding concepts and tools into visual figures and processes 
                       to make it easy for students to understand these topics.
                    </p>

                </div>

            </div>

            <div class="col-md-6 col-12 d-flex justify-content-center">
                <img class="img-fluid w-100 rounded" src="/assets/franchise_design/fd_assets/img/Teacher-Explaining-to-Group-1024x683.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- ======= Enroll Section ======= -->
    <section class="position-relative  bg-blue py-10" style="min-height: 300px">
         <div class="d-flex justify-content-between align-items-center flex-column w-100 mt-5">
            <h2 class="text-white font-xl-h1 text-center ">Nurturing Geniuses Around the World</h2>
            <p class="text-white font-lg text-center w-md-75 w-100 px-4">
                RoboThink is a leading STEM, coding for children, robotics, and engineering program nurturing geniuses
                 across 20 countries to thousands of students each day. Our exciting themed 
                STEM programs develop core STEM skills that students apply to school subjects and their future careers.            </p>

            <div class="container d-flex align-items-center justify-content-center">
                <div class="row w-md-75">
                    <div class="col-md-4 mt-4 d-flex justify-content-start">
                        <img class="img-fluid img-thumbnail w-75 w-md-100 rounded" src="/assets/franchise_design/fd_assets/img/Teacher-Explaining-to-Group-1024x683.jpg" alt="">
                    </div>
                    <div class="col-md-4 mt-4  d-flex justify-content-end">
                        <img class="img-fluid img-thumbnail w-md-100 w-75 rounded" src="/assets/franchise_design/fd_assets/img/2-Girls-Coding-1024x683.jpg" alt="">
                    </div>
                    <div class="col-md-4 mt-4 d-flex justify-content-start">
                        <img class="img-fluid img-thumbnail w-md-100 w-75 rounded" src="/assets/franchise_design/fd_assets/img/Teacher-Explaining-to-Group-1024x683.jpg" alt="">
                    </div>
                    <div class="col-md-6 d-flex justify-content-end mt-4">
                        <img class="img-fluid img-thumbnail w-75 rounded" src="/assets/franchise_design/fd_assets/img/Teacher-Explaining-to-Group-1024x683.jpg" alt="">
                    </div>
                    <div class="col-md-6 d-flex justify-content-start mt-4">
                        <img class="img-fluid img-thumbnail w-75 rounded" src="/assets/franchise_design/fd_assets/img/Teacher-Explaining-to-Group-1024x683.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section><!-- ======= Enroll Section ======= -->

    <div class="container my-10">
        <div class="row">
            <div class="col-md-5 overflow-hidden">
                <div class="d-flex align-items-center justify-content-center h-100 ">
                    <div class=" w-md-100 w-75 position-relative" data-aos-delay="100" data-aos="fade-right">
                        <img src="/assets/franchise_design/fd_assets/img/jnrEngineer.png" class=" img-fluid" alt="airplane project">
                    </div>
                    
                </div>
            </div>
            <div class="col-md-7 my-5">
                <div class="h-100 d-flex justify-content-center flex-column position-relative">
                    <img class="position-absolute bottom-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                    <span class="rounded-pill p-1 bg-light-blue d-flex justify-content-center " style="width: 150px !important;">AGES 7 TO 14</span>
                    <h2 class=" font-xl-h2  mb-4 text-uppercase">Robothink Engineer</h2>
                    <p class="font-lg text-brown-black ">
                        An exciting learning adventure for tech-loving kids! Have a blast building awesome video games and developing ninja 
                        coding skills on the path from white to black belt.
                    </p>
                    <div >
                        <a href="/fd_design/create-form" class=" button text-uppercase">Learn more</a>
                        <a href="/fd_design/enroll" class="button text-uppercase">Enroll now</a>
                    </div>
                </div>
            </div>
        </div>

       
    </div>


    <div class="container my-10  ">
        <div class="row">
            <div class="col-md-5 order-md-2 overflow-hidden">
                <div class="d-flex align-items-center justify-content-center h-100 " data-aos-delay="100" data-aos="fade-left">
                    <div class=" w-md-100 w-100 position-relative d-flex align-items-center justify-content-center">
                        <img src="/assets/franchise_design/fd_assets/img/jnrEngineer.png" class=" img-fluid" alt="airplane project">
                    </div>
                    
                </div>
            </div>
            <div class="col-md-7 my-5 order-md-1">
                <div class="h-100 d-flex justify-content-center flex-column position-relative">
                    <img class="position-absolute bottom-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                    <span class="rounded-pill p-1 bg-light-blue d-flex justify-content-center " style="width: 150px !important;">AGES 5 TO 7</span>
                    <h2 class=" font-xl-h2  mb-4 text-uppercase">Robothink JR Engineer<h2>
                    <p class="font-lg text-brown-black ">
                        Build a foundation of coding and critical problem-solving skills through our fun and completely visual curriculum - no reading required!
                    </p>
                    <div >
                        <a href="/fd_design/jr" class=" button text-uppercase">Learn more</a>
                        <a href="/fd_design/enroll" class="button text-uppercase">Enroll now</a>
                    </div>
                </div>
            </div>
        </div>

       
    </div>



    <div class="container-fluid bg-deep-ash d-flex justify-content-center align-items-center  overflow-hidden">
        <div class="row  w-100 w-md-75 " style="min-height: 500px !important;">
            <div class="col-md-5 order-2 order-md-1 d-flex align-items-center justify-content-center">
                <div class="  p-4 mb-5 " >
                    <img src="/assets/franchise_design/fd_assets/img/Kids-Looking-at-Laptop-1024x683.jpg" class=" img-thumbnail w-md-100 w-100" alt="airplane project">
                </div>
            </div>
            <div class="col-md-7 order-1 order-md-2 my-5">
                <div class="h-100 d-flex justify-content-center flex-column position-relative" data-aos-delay="100" data-aos="fade-left">
                    <img class="position-absolute bottom-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                    
                    <h2 class=" font-xl-h2  mb-4 text-uppercase blue">RoboThink  camps</h2>
                    <p class="font-lg text-brown-black " >
                        Transform your child's love for technology into an exciting learning adventure. Guided by our team of Code Senseis,
                            Code Ninjas Camps empower kids to gain valuable tech skills and make new friends. 
                            It's an unforgettably fun learning experience!
                    </p>

                    <div class="w-100 d-flex ">
                        <button class=" button text-uppercase">Learn more</button>
                        <button class="button text-uppercase">Shop now</button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>

    <div class="container-fluid bg-white d-flex justify-content-center align-items-center  overflow-hidden">
        <div class="row  w-100 w-md-75 " style="min-height: 500px !important;">
            <div class="col-md-5 order-2 order-md-1 d-flex align-items-center justify-content-center">
                <div class="  p-4 mb-5 " >
                    <img src="/assets/franchise_design/fd_assets/img/Kids-Looking-at-Laptop-1024x683.jpg" class=" img-thumbnail w-md-100 w-100" alt="airplane project">
                </div>
            </div>
            <div class="col-md-7 order-1 order-md-2 my-5">
                <div class="h-100 d-flex justify-content-center flex-column position-relative" data-aos-delay="100" data-aos="fade-left">
                    <img class="position-absolute bottom-0 end-0 opacity-50 w-50 img-fluid" src="/assets/franchise_design/fd_assets/hero-background-right.svg" alt="">
                    
                    <h2 class=" font-xl-h2  mb-4 text-uppercase blue">Birthday Parties and Events</h2>
                    <p class="font-lg text-brown-black " >
                        Transform your child's love for technology into an exciting learning adventure. Guided by our team of Code Senseis,
                            Code Ninjas Camps empower kids to gain valuable tech skills and make new friends. 
                            It's an unforgettably fun learning experience!
                    </p>

                    <div class="w-100 d-flex ">
                        <button class=" button text-uppercase">Learn more</button>
                        <button class="button text-uppercase">Book now</button>
                    </div>
                </div>
            </div>
        </div>

        
    </div>


    <div class="container-fluid  d-flex justify-content-center align-items-center bg-dark-blue overflow-hidden">
        <div class="row  w-100 w-md-75 py-4 text-white" style="min-height: 400px !important;">
            <div class="col-md-12 order-1 order-md-1">
                <div class="h-100 d-flex justify-content-center flex-column position-relative" data-aos-delay="100" data-aos="fade-left">
                    
                    <h2 class=" font-xl-h2  text-white my-4 text-uppercase blue text-center">Find your school's clubs</h2>
                    <div class="d-flex align-items-center justify-content-center">
                        <p class="font-lg text-brown-black text-center w-100 w-md-75  text-white" >
                            Transform your child's love for technology into an exciting learning adventure. Guided by our team of Code Senseis,
                                Code Ninjas Camps empower kids to gain valuable tech skills and make new friends. 
                            It's an unforgettably fun learning experience!
                        </p>
                        
                    </div>


                    <div class="row my-10">
                        <div class="col-md-6">
                            <div class=" w-md-100 w-100 position-relative d-flex align-items-center justify-content-center">
                                <img src="/assets/franchise_design/fd_assets/img/Kids-Looking-at-Laptop-1024x683.jpg" class=" img-thumbnail w-md-75 w-100" alt="airplane project">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="d-flex align-items-baseline">
                                <span class="fa fa-arrow-circle-o-right pink arrow"></span>                                                              
                                <h1 class="text-white font-lg px-4"> Search by school</h1>                                                           
                            </div>

                            <div class="d-flex align-items-baseline">
                                <span class="fa fa-arrow-circle-o-right pink arrow"></span>                                                              
                                <h1 class="text-white font-lg px-4"> Search by location</h1>                                                           
                            </div>
                            <form action="">
                                <div class="form-group my-6">
                                    <input type="email" class="form-control w-md-75" id="exampleFormControlInput1" placeholder="search by school/location">

                                </div>

                                <button class="button text-uppercase">search</button>
                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        
    </div>

    <!-- ======= Enroll Section ======= -->
    <section class="position-relative d-flex justify-content-center align-items-center flex-column bg-deep-ash" style="min-height: 300px">
        <img class="position-absolute end-0 img-fluid w-25" src="/assets/franchise_design/fd_assets/image13-1.png" alt="">
        <h2 class="text-brown-black font-xl-h1 text-center">Enroll today and see the RoboThink Difference</h2>
        <button class=" button">Find RoboThink</button>
    </section><!-- ======= Enroll Section ======= -->

    <!-- programs -->
    <div class="container-fluid M-0 p-0">

        <!--begin::Card-->
        <div class="card overlay  w-100 overflow-hidden rounded-0 position-relative h-100 " >
            <div class=" overlay-content bg-dark-blue d-flex align-items-center justify-content-center flex-column  card-body p-0"  >
                
                    <div class="rounded-0 bg-opacity-25 h-100 z-index-1   " >
                        <div class="container">
                            <div class="d-flex align-items-center justify-content-center" style="min-height: 500px !important;">

                                <div class="   flex-column d-flex align-items-center justify-content-center w-100 w-md-75  h-100 text-center text-white">
                                    <h2 class=" font-xl-h2 text-white mb-4">Our Software</h2>
                                    <p class="font-lg  mb-4">
                                        We believe that software can be excellent tool to introduce students to the world of computer programming.
                                         Our software engineers breakdown and simplify coding concepts and tools into visual figures and processes 
                                        to make it easy for students to understand these topics.
                                    </p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <img src="/assets/franchise_design/fd_assets/img/image71.png" alt="" class="img-fluid w-50">
                                                <p class="mt-4 text-white fs-1">Introduction to Coding​</p>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <img src="/assets/franchise_design/fd_assets/img/video-game-design.png" alt="" class="img-fluid w-50">
                                                <p class="mt-4 text-white fs-1">Video Game Design​</p>
                                            </div>
    
                                        </div>
                                    </div>
        
                                </div>

                            </div>
                        </div>

                    </div>
                

            </div>

            <div class=" w-100 opacity-25 position-absolute top-0 h-100 " style="background-image: url('assets/pattern.svg');
                background-position: center center; background-size: 200px auto; ">
            </div>
        </div>
        
                        
    </div>
    <!--end::programs-->




    <div class="container my-5">
        <div class="row" style="min-height: 500px;">
            <div class="col-12 col-md-6 order-2">
                <div class="card bg-white shadow-dark mb-6s mb-md-0">

                        <div class="card-body pt-7 pb-4 mb-0 pt-4">
    
                            <h3 class="text-center text-uppercase font-weight-bold pink ">Request Info</h3>
                            <!-- Form -->
                            <iframe src="https://link.risesales.io/widget/form/Em5N0ErRy3p2QhS7SLVE" style="border:none;width:100%; min-height: 600px" scrolling="yes" id="Em5N0ErRy3p2QhS7SLVE"></iframe>
                            <!-- end::Form -->
                        </div>
                </div>
            </div>

            <div class="col-md-6 col-12 d-flex  position-relative order-1">

                <div class="map" id="map"></div>
        
            </div>
        </div>
    </div>




{% endblock %}

{% block footer %}
    {{ super() }}

    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNBpyDh37cPg4CTXRlHK8yXeRvKgezT_c&callback=initMap"
        defer>
    </script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="/assets/franchise_design/fd_assets/js/map/franchiseMap.js"></script>
{% endblock %}