
{% extends 'templates/base/layout.html' %}

{% block content %}
<div class="overflow-hidden position-relative ">
    <div class=""> 
        <img class="leftt " src="/assets/franchise_design/fd_assets/shapes-1.svg" alt="">
    </div>

    <!--begin::Card-->
    <div class="card overlay overlay-block w-100 overflow-hidden rounded-0 z-index-n1">
        <div class="card-body p-0">
            <div class="overlay-wrapper bg-custom-pink" style="min-height: 700px;">
            </div>
            <div class="overlay-layer rounded-0 bg-custom bg-opacity-25 flex-column " >
                <div class="container">
                    <div class="row" >
                        <div class="col-md-6 col-12 d-flex justify-content-center align-items-center flex-column" data-aos-delay="100" data-aos="fade-down">
                            <div class="w-100">
                                <h1 class="text-white display-2 text-center font-italic">
                                    Camps
                                </h1>
                                <p class="text-white fs-1 text-center">Year Round & Summer Camp Programs</p>
                                <h1 class="pink display-7 text-center">Rapid City (Rapid City)</h1>
                                <p class="yellow fs-6 text-center mb-5">
                                    <span class="fa fa-map-marker"></span> 5565 Bendt Dr Suite: 404, Rapid City, SD 57702
                                </p>
                                <p href="tel: 786-215-0200" class="yellow fs-6 text-center mb-5 w-100"   >
                                    <span class="fa fa-phone text-center yellow" ></span> +44 78621-50200
                                </p>
                            </div>

                            <div>
                                <button class=" button bg-blue text-uppercase">shop camps</button>
                            </div>
                            
                        </div>


                        <div class="col-md-6 col-12 mob-noshow">

                            <div id="kt_carousel_1_carousel" class="carousel carousel-custom slide" data-bs-ride="carousel" data-bs-interval="8000">
                                <div class="carousel-inner" style="height: 500px">
                                  <div class="carousel-item active">
                                        <div class="w-100 h-100 position-relative" data-aos-delay="100" data-aos="fade-left">
                                            <img src="/assets/franchise_design/fd_assets/img/shapes-online-background.png" class=" position-absolute top-0 w-100" alt="">
                                            <img src="/assets/franchise_design/fd_assets/img/girl-robothink-online.png"  class="position-absolute top-0 start-0 w-md-75 w-100" alt="">
                                        </div>
                                  </div>
                                  <div class="carousel-item">
                                        <div class="w-100 h-100 position-relative" data-aos-delay="100" data-aos="fade-left">
                                            <img src="/assets/franchise_design/fd_assets/img/shapes-online-background.png" class=" position-absolute top-0 w-100" alt="">
                                            <img src="/assets/franchise_design/fd_assets/img/girl-robothink-online.png"  class="position-absolute top-0 start-0 w-md-75 w-100" alt="">
                                        </div>
                                  </div>
                                  <div class="carousel-item">
                                        <div class="w-100 h-100 position-relative" data-aos-delay="100" data-aos="fade-left">
                                            <img src="/assets/franchise_design/fd_assets/img/shapes-online-background.png" class=" position-absolute top-0 w-100" alt="">
                                            <img src="/assets/franchise_design/fd_assets/img/girl-robothink-online.png"  class="position-absolute top-0 start-0 w-md-75 w-100" alt="">
                                        </div>
                                  </div>
                                </div>
                              </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--end::Card-->
</div>  
  <h1>Index</h1>
  <p class="important">
    Welcome on my awesome homepage.
{% endblock %}

